<div class="container-fluid bg-1 text-center">
  <h3>How was this app built?</h3>
  <img id=angular-img src="./assets/img/angular.png" class="img-responsive"  alt="Angular" >
  <h3>Using: <img id=logo-angular-nav src="./assets/img/logo-nav@2x.png"></h3>
</div>

<div class="container-fluid bg-2 text-center">
  <h3 class="margin">Why was it built?</h3>
  <p>This is a project for the course Client Design & Development (ISTE-754) at RIT.
    The requirement was creating a client app using a JavaScript framework,
    that requested weather forecast data from a third-party API and then displayed
    the forecast for the next five days. The user must be able to specify the city
     for which the forecast should be displayed.</p>
</div>


<div id="technologies-container" class="container-fluid bg-3 text-center">
  <h3>Technologies used</h3><br>
  <div class="row">
    <div class="col-sm-4">
      <h4>Open Weather Map API</h4>
      <img src="./assets/img/icon-openweathermap-1.png" class="img-responsive margin"  alt="Open Weather Map logo">
    </div>
    <div class="col-sm-4">
      <h4>Bootstrap 4</h4>
      <img src="./assets/img/bootstrap-stack.png" class="img-responsive margin"  alt="Bootstrap 4 logo">
    </div>
    <div class="col-sm-4">
      <h4>Moment JS</h4>
      <img src="./assets/img/moment-js.png" class="img-responsive margin"  alt="Moment JS logo">
    </div>
  </div>
</div>
<footer class="container-fluid bg-4 text-center">
  <p>Made by Cervantes Hernandez</p>
  <p>December 2018</p>
</footer>
